<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <div class="logo">E-shop</div>
        <div class="cart">
          <form action="#" class="search-form">
            <input
              type="text"
              class="search-field"
              v-model.lazy="userSearch"
              @change="filter()"
            />
            <button class="btn-search" type="submit" @click="filter()">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <button
            class="btn-cart"
            type="button"
            @click="isVisibleCart=!isVisibleCart"
          >
            Корзина
          </button>
          <div class="cart-block" v-show="isVisibleCart">
            <div v-if="cartList[0]">
              <div
                class="cart-product"
                v-for="product of cartList"
                :key="product.id_product"
              >
                <img :src="imgCart" alt="product_img" />
                <div class="cart-product__desc">
                  <h3>{{product.product_name}}</h3>
                  <p class="quantity">Quantity: {{product.quantity}}</p>
                  <p>${{product.price}} each</p>
                </div>
                <div class="cart-product__action">
                  <h3>${{product.price * product.quantity}}</h3>
                  <button
                    class="buy-btn remove-btn"
                    @click="removeProduct(product)"
                  >
                    <i class="fa fa-times remove-btn" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <p v-else="cartList[0]">Нет данных</p>
          </div>
        </div>
      </header>
      <main>
        <div class="products" v-if="userSearch">
          <div
            class="product-item"
            v-for="product of filtered"
            :key="product.id_product"
          >
            <img :src="imgCatalog" alt="Some img" />
            <div class="desc">
              <h3>{{product.product_name}}</h3>
              <p>{{product.price}} $</p>
              <button class="buy-btn" @click="addProduct(product)">
                Купить
              </button>
            </div>
          </div>
        </div>
        <div class="products" v-else="userSearch">
          <div
            class="product-item"
            v-for="product of products"
            :key="product.id_product"
          >
            <img :src="imgCatalog" alt="Some img" />
            <div class="desc">
              <h3>{{product.product_name}}</h3>
              <p>{{product.price}} $</p>
              <button class="buy-btn" @click="addProduct(product)">
                Купить
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
      integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

<!--<div class="cart-item" data-id="${this.id_product}">-->
<!--<div class="product-bio">-->
<!--<img src="${this.img}" alt="Some image">-->
<!--<div class="product-desc">-->
<!--<p class="product-title">${this.product_name}</p>-->
<!--<p class="product-quantity">Quantity: ${this.quantity}</p>-->
<!--<p class="product-single-price">$${this.price} each</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="right-block">-->
<!--<p class="product-price">${this.quantity*this.price}</p>-->
<!--<button class="del-btn" data-id="${this.id_product}">&times;</button>-->
<!--</div>-->
<!--</div>-->
